@mixin caption  {
    
    h1{
        font-size: 46px;
        color:whitesmoke;
        transform: translate(-150px,-300px);
        margin: 0 auto;
        text-align: justify;
        font-weight: bold;
      
        
      
       
      
    }
}